* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
}

body {
    margin: 10% 0;
}

.header {
    width: 80%;
    border-bottom: 1px solid grey;
}

h1 {
    font-size: 2em;
}

